# scc-hypervisor-collector direct dependencies
pyyaml

# virtual-host-gatherer dependencies
libvirt-python
pycurl
pyvmomi
six
virtual-host-gatherer @ git+https://github.com/uyuni-project/virtual-host-gatherer.git#egg=virtual-host-gatherer@main&subdirectory=virtual-host-gatherer
