[Unit]
Description=update SCC daily with collecter hypervisor details
Documentation=man:scc-hypervisor-collector(1) man:scc-hypervisor-collector.service(8)

[Timer]
OnBootSec=15m
OnUnitActiveSec=1d
RandomizedDelaySec=15m
