[Unit]
Description=run scc-hypervisor-collector if valid config defined
Documentation=man:scc-hypervisor-collector(1) man:scc-hypervisor-collector.service(8)

[Service]
Type=oneshot
RemainAfterExit=false
User=scchvc
Group=scchvc
ExecStart=/usr/bin/timeout 60m /usr/bin/scc-hypervisor-collector
ExecCondition=/usr/bin/scc-hypervisor-collector --check
