<services>
  <service name="tar_scm" mode="manual">
    <param name="scm">git</param>
    <param name="url">https://github.com/SUSE/scc-hypervisor-collector.git</param>
    <param name="revision">main</param>
    <param name="version">_auto_</param>
    <param name="versionformat">@PARENT_TAG@~git@TAG_OFFSET@.%h</param>
    <param name="filename">scc-hypervisor-collector</param>
    <param name="match-tag">v*</param>
    <param name="versionrewrite-pattern">v(\d+\.\d+\.\d+)</param>
    <param name="versionrewrite-replacement">\1</param>
    <param name="changesgenerate">enable</param>
    <param name="package-meta">yes</param>
  </service>
  <service name="recompress" mode="manual">
    <param name="file">*.tar</param>
    <param name="compression">xz</param>
  </service>
  <service name="extract_file" mode="manual">
    <param name="archive">scc-hypervisor-collector*.tar.xz</param>
    <param name="files">scc-hypervisor-collector-*/scc-hypervisor-collector.spec</param>
    <param name="files">scc-hypervisor-collector-*/systemd/scc-hypervisor-collector.service</param>
    <param name="files">scc-hypervisor-collector-*/systemd/scc-hypervisor-collector.timer</param>
  </service>
  <service name="set_version" mode="manual">
    <param name="file">scc-hypervisor-collector.spec</param>
  </service>
</services>
